@import url("https://fonts.googleapis.com/css?family=Coiny");

body {
  line-height: -1;
}

.name-price > p {
  text-align: center;
  font-size: 20px;
  line-height: 0.7;
}

.cart {
  cursor: pointer;
  color: white;
  font-weight: bold;
  padding: 3px 7px;
  border: 1px solid orange;
  background: orange;
}

.best-mall {
  font-family: "Coiny", cursive;
  font-size: 30px;
  color: orangered;
  text-align: center;
}

/* Custom antd css */
.ant-card:hover {
  background: greenyellow;
}
